<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
<listeners>
<listener class-name="testscripts.listeners"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
<class name="testscripts.Qalegenduserstest">
      <methods>
			<include name="createAUser"></include>
   			<include name="deleteAUser"></include>
			<include name="editAUser"></include>
     		<!--<include name="addSalesCommissionAgent"></include>-->
        </methods>
   </class>
<!--<class name="testscripts.QalegendContacttest">
    <methods>
    		<include name="addSupplier"></include>
    		<include name="editAsupplier"></include>
    		<include name="createACustomer"></include>
			<include name="deleteACustomer"></include>
    </methods>
   </class>
<class name="testscripts.Qalegendroletest">
   <methods>
   			<include name="createRoleName"></include>
  			<include name="deleteRoleName"></include>
   </methods>
   </class>-->
    </classes>
  </test> 
</suite> 
